@import "../../Assets/Sass/all";

.container {
    padding: 0 30px;
    text-align: left;
}

.header {
    color: $Carnation;
    margin-bottom: 40px;
    text-align: center;
}

.button {
    position: absolute;
    bottom: 40px;
    right: 20px;
    height: 40px;
    padding: 20px;
    box-sizing: border-box;
    line-height: 1px;
    border-radius: 50px;
    outline: none;
    border: none;
    background: $Carnation;
    color: $white;
    font-size: 16px;
    cursor: pointer;
}

.imagesUploaded {
    width: 250px;
    height: 267px;
    border-radius: 40px;
    object-fit: cover;
}

.btnWrap {
    text-align: right;
    margin: 40px 0;
}