@import "../../Assets/Sass/all";

.container {
    text-align: left;
    margin: 40px;
}

.button {
    height: 40px;
    padding: 20px;
    box-sizing: border-box;
    line-height: 1px;
    border-radius: 50px;
    outline: none;
    border: none;
    background: $Carnation;
    color: $white;
    font-size: 16px;
    margin: 0px 40px;
    cursor: pointer;
}

.input {
    width: 450px;
    height: 40px;
    padding: 0 20px;
    border: 1px solid rgba($black, 0.5);
    border-radius: 50px;
    box-sizing: border-box;
    outline: none;
}